.super-mario {
  width: 200px;
  position: absolute;
  left: 50px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 120px;
}

.baloon {
position: absolute;
left: 300px;
top: 20px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 320px;
  z-index: 5;
  top: 60px;
}

.bowser {
  width: 400px;
  position: absolute;
  left: 580px;
}